extends layout.pug

block content
	div.container.m-5
		div.row
			div.offset-2.col-8
				h3.text-muted.mb-5 Lista de contactos
				form.form-horizontal(role="form", action="/contactos", method="get")
					div.input-group.mb-3
						input.form-control(type="text", name="search", placeholder="Buscar contactos...")
						div.input-group-append
							button.btn.btn-primary(type="submit") Buscar
				table.table.table-striped.mt-5
					thead
						tr
							th nombre
							th teléfono
							th email
							th instagram
							th
					tbody
						if contactos
							each contacto in contactos
								tr
									td #{contacto.name}
									td #{contacto.phone}
									td #{contacto.mail}
									td #{contacto.instagram}
									td
										if (usuario)
											a.btn.btn-primary.btn-sm.active.mr-3(href="/contactos/" + contacto._id + "/edit", role="button", aria-pressed="true")
												img(src="/images/pencil.svg")
											a.btn.btn-danger.btn-sm.active(href="/contactos/" + contacto._id + "/delete", role="button", aria-pressed="true")
												img(src="/images/trash.svg")
										else
											span.font-italic.small.text-muted Creado por #{contacto.user.username}
						else 
							tr
								td(colspan="5") No hay contactos
